html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #26a26f;
}

.footer-warp {
    color: #fff;
    overflow: hidden;
    padding: 30px 0;
}

.footer-warp-1 {

}

.footer-warp-1 p {
    font-size: 1.6rem;
}

.link {
    margin-top: 20px;
    font-size: 1.4rem;
}

.link a{
    text-decoration: none;
}

.link-margin {
    margin: 0 10px;
    color: #ffffff;
}

.link-left {
    margin-left: 0;
}

.link-margin:hover{
    border-bottom: 1px solid #ffffff;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #32c086;
    color: #ffffff;
    line-height: 25px;
    font-size: 1.2rem;
}

.footer-warp-2 {
    font-size: 1.6rem;
}

.footer-warp-3 {
    font-size: 1.6rem;
}