html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
}

img {
    max-width: 100%;
}

.top {
    font-size: 1.4rem;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #56a087;
}

.top-left-a a{
    font-size: 2.6rem;
    color: #56a087;
    margin-right: 20px;
    text-decoration: none;
}

.margin-top {
    margin-top: 7px;
}

.top-right-a a {
    color: #333333;
    text-decoration: none;
}

.top-right-a a:hover {
    color: #56a087;
}

.warp-nav {
    width: 100%;
    background-color: #29b078;
    margin-bottom: 0 !important;
    border: 0 !important;
    border-radius: 0;
}

.nav-logo {
    margin: 20px 0;

}

.nav-a li a{
    font-size: 1.6rem !important;
    text-decoration: none;
    color: #ffffff !important;

    display: block;
    height: 97px;
    line-height: 93px !important;
    margin: 0 15px ;
    padding: 0 10px ;

}

.last {
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.nav-a li {
    padding: 0;
    margin: 0;

}

.btn-nav {
    border: 0;
    background-color: transparent;
    margin-top: 35px;
}

.btn-nav:hover {
    background-color: #ffffff !important;
}

.nav-a a:hover {
    border-bottom: 4px solid #ffffff;
}

.bgc {
    background-color: #1a6d4b !important;
    color: #1a6d4b;
}

.navbar-toggle:hover {
    background-color: #ffffff !important;
}

.navbar-toggle:hover span {
    background-color: #adadad !important;
}

.margin-button {
    margin-top: 30px ;
}



a:focus {  outline:none;   -moz-outline:none;}

.float{
    float:right;
    padding: 0;
    margin: 0;
}




@media (max-width:  768px) {
    .nav-a  {
        float: none;
    }

    .nav-a li {
        padding: 0;
        margin: 0;
    }

    .nav-a li a {
        float: none;
        padding: 0 ;
        margin: 0 ;
    }

    .float {
        float: none;
        text-align: center;
    }
}