.border-2 {
    border-bottom: 4px solid #ffffff;
}

* {
    padding: 0;
    margin: 0;
}

.nav-title {
    margin: 0 auto;
    padding: 30px 0;
}

.content {
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
}



.table1 {
    border: 1px solid #e6e6e6;
    text-align: center;
    border-radius: 3px;
}

.table-title {
    border-bottom: 1px solid #e6e6e6;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.name {
    display: block;
    margin: 35px 0;
    color: #4ea77c;
    text-decoration: none;
}

.name:hover {
    color: #ff650f;
}

.text {
    overflow: hidden;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

.text-padding {
    padding: 40px;
    line-height: 25px;
    font-size: 16px;
    color: #9f9f9f;
}

.icon-logo {
    float: left;
    margin-right: 20px;
}

.icon-logo-p {
    padding-bottom:  30px;
    border-bottom: 1px solid red;
}

.color {
    color: black;
}

.image img {
    width: 100%;
}